.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2rem;
  background-color: var(--gray-900);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.header .button {
  flex-grow: 0;
  flex-shrink: 0;
}

.lead {
  padding-top: 2rem;
}

.auth-logo {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: 900;
}

.auth-mark {
  width: 1.25rem;
}
