/* =================================== */
/* Buckets */
/* =================================== */
.bucket-layout {
  display: flex;
  column-gap: 4rem;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 4rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.bucket {
  flex-grow: 0;
  flex-shrink: 0;
  width: calc(var(--spacer) * 50);
}

.bucket-month {
  font-size: var(--font-size-l);
}

/* Bucket header */
/* ======================= */
.bucket-balance-group {
  display: flex;
  padding-top: 0.25rem;
}

.bucket-balance {
  padding-bottom: calc(var(--spacer) * 2);
  border-bottom: 1px solid var(--gray-400);
}

.profit-loss-total {
  width: 100%;
  color: var(--gray-600);
  font-size: var(--font-size-xxs);
}

.profit-loss-revenue {
  width: 100%;
  color: var(--green-400);
  font-size: var(--font-size-xxs);
  text-align: right;
}

.profit-loss-expense {
  width: 100%;
  color: var(--gray-600);
  font-size: var(--font-size-xxs);
  text-align: right;
}

/* Transactions */
/* ======================= */
.transaction-list {
  padding-top: calc(var(--spacer) * 2);
}

.transaction-item {
  display: flex;
  padding-top: calc(var(--spacer) * 1.5);
  font-size: var(--font-size-xs);
}

.transaction-date {
  width: 100%;
  color: var(--gray-600);
  font-size: var(--font-size-xxs);
}

.transaction-amount {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}
.transaction-amount.income {
  color: var(--green-400);
}

/* Adjustments */
/* ======================= */
.button-adjustment-add {
  margin-top: 0.25rem;
}

.adjustment-row {
  position: relative;
  padding-bottom: 1px;
}

input[type="text"].adjustment-input-name {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  height: 1.5rem;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: none;
  font-size: var(--font-size-xxs);
}
.adjustment-input-name.disabled {
  opacity: 0.25;
  transition: all 150ms ease-in-out;
}

input[type="number"].adjustment-input-value {
  flex-grow: 2;
  flex-shrink: 1;
  height: 1.25rem;
  min-width: 0;
  width: 50%;
  background-color: var(--gray-800);
  border-color: var(--gray-700);
  text-align: right;
}
.adjustment-input-value.disabled {
  opacity: 0.25;
  transition: all 150ms ease-in-out;
}

.adjustment-actions {
  display: flex;
  align-items: center;
  column-gap: 0.125rem;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translate(105%, -50%);
  transition: all 100ms ease-in-out;
}
.adjustment-row:hover .adjustment-actions {
  visibility: visible;
  opacity: 1;
  transform: translate(100%, -50%);
  transition: all 150ms ease-in-out;
}

.button-adjustment-actions {
  display: flex;
  justify-content: flex-end;
}

.adjustment-delete {
  justify-content: center;
  padding: 0;
  height: 1.125rem;
  width: 1.125rem;
  margin-left: 0;
}

.adjustment-toggle {
  justify-content: center;
  padding: 0;
  height: 1.125rem;
  width: 1.125rem;
  margin-left: 0;
  font-size: 20px;
}

.adjustment-toggle-icon {
  margin-top: -4px;
}
