.header {
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.actions {
  display: flex;
  padding-bottom: 2.5rem;
}

.balance-header {
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.month-layout {
  display: flex;
  column-gap: 3rem;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.month {
  flex-grow: 0;
  flex-shrink: 0;
  width: calc(var(--spacer) * 40);
}

.amount-total {
  padding-bottom: calc(var(--spacer) * 2);
  border-bottom: 1px solid var(--gray-400);
}

.transaction-list {
  padding-top: calc(var(--spacer) * 2);
}

.transaction-item {
  display: flex;
  padding-top: calc(var(--spacer) * 1.5);
  font-size: var(--font-size-xs);
}

.transaction-date {
  width: 100%;
  color: var(--gray-600);
  font-size: var(--font-size-xxs);
}

.transaction-amount {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}

input[type="number"].adjustment-input {
  min-width: none;
  width: 100%;
}
