.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1rem;
}

.title {
  font-weight: 900;
}

.description {
  margin-bottom: 0.25rem;
  font-size: var(--font-size-xs);
}

.actions {
  display: flex;
}

.balance-header {
  padding-top: 1rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.month-layout {
  display: flex;
  column-gap: 4rem;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.month {
  flex-grow: 0;
  flex-shrink: 0;
  width: calc(var(--spacer) * 50);
}

.amount-total {
  padding-bottom: calc(var(--spacer) * 2);
  border-bottom: 1px solid var(--gray-400);
}

.transaction-list {
  padding-top: calc(var(--spacer) * 2);
}

.transaction-item {
  display: flex;
  padding-top: calc(var(--spacer) * 1.5);
  font-size: var(--font-size-xs);
}

.transaction-date {
  width: 100%;
  color: var(--gray-600);
  font-size: var(--font-size-xxs);
}

.transaction-amount {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}
.transaction-amount.income {
  color: var(--green);
}

.adjustment-row {
  position: relative;
}

input[type="text"].adjustment-input-name {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  height: 1.5rem;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: none;
  font-size: var(--font-size-xxs);
}

input[type="number"].adjustment-input-value {
  flex-grow: 2;
  flex-shrink: 1;
  height: 1.5rem;
  min-width: 0;
  width: 50%;
}

.adjustment-actions {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  transition: all 100ms ease-in-out;
}
.adjustment-row:hover .adjustment-actions {
  visibility: visible;
  opacity: 1;
  transform: translate(50%, -50%);
  transition: all 150ms ease-in-out;
}

.button-adjustment-add {
  margin-top: 0.25rem;
}
